<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Liên Kết úc Châu{% endblock %}</title>
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset_url }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('uploads/logo/favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
